body {
  background-color: #BC8F8F;
font-family: 'Crimson Text', Georgia, Times, serif;
}


header{
color: #FFE4E1;
text-shadow: black 0 0 2px;
 background-color: #BC8F8F;
 height: 70px;
 font-size: 30pt;
 font-weight: bold;
 text-align: center;
}


#blok {
    padding: 25px;
    text-align: center;
  background-color: #FFE4E1;
  width: 60rem;
}

#countlimbs {
    margin: 10px;
}

p {
  font-size: 20px;
}

footer{
    background-color:#BC8F8F;
    height: 70px;
}
